<section>
    <form [formGroup]=" restform" (ngSubmit)="restpass( restform)">
     <div class="container all">
         <h1 class="fw-bolder m-4">rest password</h1>
         <div class="row ">
             <div class="col-md-12 m-auto bg-light shadow"> 
                            
                     <div class="m-3">
                         <label for="user_email">Email:</label>
                         <input formControlName="email" type="email" id="user_email" class="form-control"/>
                         <div *ngIf="restform.get('email')?.errors && restform.get('email')?.touched">
                             <p class="text-danger" *ngIf="restform.get('email')?.getError('required')">this requierd input </p>
                             <p class="text-danger" *ngIf="restform.get('email')?.getError('email')">Enter avalid email</p>
                             
                         </div>
                     </div>
 
                     <div class="m-3">
                         <label for="user_pass"> New password:</label>
                         <input formControlName="newPassword" type="password" id="user_pass" class="form-control"/>
                         <div *ngIf="restform.get('newPassword')?.errors && restform.get('newPassword')?.touched">
                             <p class="text-danger" *ngIf="restform.get('newPassword')?.getError('required')">this requierd input </p>
                             <p class="text-danger" *ngIf="restform.get('newPassword')?.getError('pattern')">Enter avalid password</p>
                             
                         </div>
                     </div>
                      
                     <div class="m-3">
                         <label for="user_repass">Re-password:</label>
                         <input formControlName="rePassword" type="password" id="user_repass" class="form-control"/>
                         <div *ngIf="restform.get('rePassword')?.errors && restform.get('rePassword')?.touched">
                             <p class="text-danger" *ngIf="restform.get('rePassword')?.getError('required')">This field is required</p>
                             <p class="text-danger" *ngIf="restform.get('rePassword')?.getError('miss')">Confirm password failed</p>
                         </div>
                     </div>
                     
                      <p *ngIf="errors" class="text-danger">{{errors}}</p>
                     <div>
                         <button [disabled]="restform.invalid" class="btn bg-main text-light float-end m-3" type="submit">Reset password
                         <span *ngIf="isloading">
                             <i class="fa-solid fa-spinner fa-spin"></i>
                         </span>
                         </button>
                     </div>
                 </div>
                 </div>
 
             </div>
 
    </form>
 </section>
 
