<div class="container">
    <div class="row my-5">

        <div class="col-md-3">

           <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
                <div *ngFor="let image of img; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img [src]="image" class="d-block my-5 h-100 w-100" alt="img">
                </div>   
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
        </div>
        
        </div>


        <div class="col-md-9 ">
          <div class="layer h-100 d-flex flex-column justify-content-evenly">
            <div>
            <h2>{{productdet?.title}}</h2>
            <p class="text-muted">{{productdet?.description}}</p>
           </div>
          <div>
            <p class="text-main">{{ productdet?.category.name}}</p>
            <div class="d-flex justify-content-between">
                <p>{{productdet?.price}}EGP</p>
                <p>{{productdet?.ratingsQuantity}}
                    <i class="fa-solid fa-star rating-color"></i>
                </p>
               </div>
               <button (click)="addtocart(productdet._id)" class="btn bg-main w-100 text-light">add to card</button>
          </div>
        
        </div>
    </div>

    </div>


