<div class="container">
    <section>
        <div class="row">
          <div class="col-md-8 m-auto">
            <div class="row p-5 m-3">
              <div class="col-md-6">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img class="w-100" src="assets/41nN4nvKaAL._AC_SY200_.jpg"/></ng-template>  
                  <ng-template carouselSlide><img class="w-100" src="assets/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg"/></ng-template>  
                  <ng-template carouselSlide><img class="w-100" src="../../assets/61cSNgtEISL._AC_SY200_.jpg"/></ng-template>  
                </owl-carousel-o>
              </div>
              <div class="col-md-6">
                <img class="w-100"  src="assets/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg"/>
                <img class="w-100" src="assets/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg"/>
             </div>
            </div>
          </div>
        </div>
      </section>
</div>
